
#portfolio{
    background-color: #050a4e;
    padding-top: 120px;
    padding-bottom: 100px;
    height: auto;
}
#portfolio .header{
    font-size: 40px;
    margin-top: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #2288e4;
}
.wrapper{
    width: 30%;
    height: 200px;
    overflow: hidden;
    /* background-color: #2288e4; */
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.collection{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.wrapper .blind{
    background-color: rgba(2, 2, 50, 0.563);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -350px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    text-align: center;
}
.wrapper .blind h1{
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(223, 217, 217);
}
.wrapper .blind .alyusroh{
    font-size: 26px;
}
.wrapper .blind p{
    color: rgb(223, 217, 217);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.wrapper .blind .tech{
    font-size: 12px;
}
.wrapper:hover .blind{
    transform: translateX(350px);
}
.img{
    width: 100%;
    height: 100%;
    position: relative;
}
.link{
    text-decoration: none;
}
@media screen and (max-width: 780px) {
    .collection{
        display: block;
    }
    .wrapper{
        width: 54%;
        margin: auto;
        margin-bottom: 20px;
    }
    .wrapper .blind{
        left: -350px;
    }
    .wrapper:hover .blind{
        transform: translateX(350px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper{
        width: 65%;
    }
}
@media screen and (max-width: 450px) {
    .wrapper{
        width: 85%;
    }
}